#collapsable_nav {
  margin-right: -16px;
  margin-left: -16px;
}

#nav_list {
  margin-top: 10px;
  background-color: #555555;
}

#nav_list a {
  text-align: center;
  color: #f9f9f9;
}

#nav_list a:hover {
  background-color: #428bca;
}

@media (min-width: 576px) {
  #nav_list {
    visibility: hidden;
  }
}