body {
  font-size: 16px;
  color: #f9f9f9;
  background-color: #d9534f;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
}

/* HEADER */
.navbar {
  padding-left: 25px;
}

#collapsable_nav {
  margin-right: -16px;
  margin-left: -25px;
}

#nav_list {
  margin-top: 10px;
  background-color: #777777;
}

#nav_list a {
  text-align: center;
  color: #f9f9f9;
}

#nav_list a:hover {
  background-color: #428bca;
}

.nav-item {
  border: 1px solid black;
}

@media (min-width: 576px) {
  #nav_list {
    visibility: hidden;
  }
}
/* END HEADER */

/* MAIN PAGE */
#main_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-item {
  position: relative;
  height: 700px;
  margin: 10px;
  padding: 15px;
  background-color: #5cb85c;
}

.back-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: #000;
  color: #f9f9f9;
  opacity: .8;
}
/* END MAIN PAGE */